<main>
  <div class="container content">
    <div class="blog-list-posts">
      <div class="row">
        <div class="col">
          <ul class="post-list">
            <li class="post-item">
              <h5>Post Title</h5>
              <h6 class="text-muted">post date</h6>
            </li>
            <li class="post-item">
              <h5>Another Post Title</h5>
              <h6 class="text-muted">another post date</h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

