<div class="container content">
  <router-outlet></router-outlet>
  <footer class="footer mt-auto py-3 blog-footer">
    <p>
      <a href="https://linkedin.com/in/emanuel-lazaro" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin social-icons"></i></a>
      <!-- <a href="https://twitter.com/emanuel_lazaro" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter social-icons"></i></a> -->
      <a href="https://github.com/emanuellazaro" target="_blank" rel="noopener noreferrer"><i class="fab fa-github social-icons"></i></a>
    </p> 
  </footer>
</div>
